
 body{
   background-color:burlywood;
 }
 
 .header{
   background-color: blueviolet;
   width: 100%;
 }
 .div1{
   margin-left: 15rem;
   width: 70%;
 }
 .imgs{
   width:30%;
 margin-top:2rem;
 margin-left:3rem;
 }
 .table{
   width:45%;
 }
 
 .div2{
   float: left;
   margin-left: 10rem;
 height: 10px;;
   width:35%;
 }
 .div4 {
   float: right;
   width: 300px;
   margin-right: 17rem;
   margin-top: 10rem;
 
 }
   form input type{
   
 margin-left: 20rem;
 }
 .footer{
   margin-top: 60rem;
   text-align: center;
   font-size: 25px;
   background-color: blueviolet !important;
   width:100%;
 
 
 
 }
 image_tag{
    width: 20px;
 }
 .main{
    background-color: aqua;
 }
  .div1 .btns{
   height:5px;
   width:20px;
   
 }
 .bit{
   width:14rem;
 }
 .div3{
   float: right;
   margin-top:  5%;
  margin-right: 3rem;
 }
 

